body {
    display: flex;
    margin: 0;
    font-family: 'inter';
    background-color: rgb(246, 247, 248);
    height: 100%;
    width: 100%;
}

.column-content {
    width: 100%;
}

.content-alignment {
    position: absolute;
    left: 200px;
    top: 75px;
}


@media(max-width: 900px) {

    body {
        height: 100%;
        width: 100%;
        flex-direction: column-reverse;
    }

    .content-alignment {
        left: 0;
        padding-bottom: 95px !important;
    }
}


/* ----------------------------------
custom scrollbar
---------------------------------- */

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: #F6F7F8;
}

::-webkit-scrollbar-thumb {
    background: #2C3646;
}

::-webkit-scrollbar-thumb:hover {
    background: #29ABE2;
}

::-webkit-scrollbar-thumb:active {
    background: #091931;
}