@media(max-width: 1280px) {
    .contacts-header {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        flex-direction: column;
        gap: 0px;
        margin-top: 20px;
    }

    .contacts-divider {
        transform: rotate(90deg);
        margin-left: 25px;
        background-color: rgb(41, 171, 226);
        margin-top: -14px;
    }

    .contacts-headline-small {
        font-weight: 400px;
        font-size: 27px;
        line-height: 32.4px;
        padding-left: 0px;
    }
}

@media(max-width: 1054px) {
    .contact-card-container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 18px;
    }

    .contact-member {
        font-size: 30px;
    }

    .contact-info-box {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 30px;
        gap: 10px;
    }
}


@media only screen and (max-width: 900px) {

    .contact-overlay-container-section {
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        padding-top: 0px;
        animation: none;
    }

    .contact-overlay-section {
        background-color: rgb(44, 54, 70);
        width: 100vw;
        min-height: 45%;
        height: 50vh;
        padding-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        gap: 12px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        display: flex;
        align-items: flex-start;
    }

    .overlay-void {
        display: none;
    }

    .contact-overlay-logo {
        display: none;
    }

    .close-form-mobile {
        visibility: visible;
        position: absolute;
        top: 30px;
        right: 30px;
        display: flex;
        justify-content: flex-end;
    }

    .close-form-mobile img {
        cursor: pointer;
    }

    .overlay-text-container {
        display: flex;
        flex-direction: column;
        justify-self: center;
        padding: 35px;
        align-items: flex-start;
        margin: auto;
    }

    .contact-overlay-divider {
        margin-top: -30px;
    }

    .contact-overlay-box {
        transform: translateY(300%);
        transition: transform 0.5s ease-in-out;
    }

    .contact-overlay-box-animate {
        transform: translateY(0%);
    }

    .contact-overlay-form-section {
        width: 100vw;
        min-height: 55vh;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .close-form {
        display: none;
    }

    .contact-overlay-form-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding-top: 0px;
    }

    .contact-overlay-icon-box {
        margin-top: -63px;
    }

    .contact-cancel-button {
        display: none;
    }

    .contact-overlay-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    .contact-create-button {
        margin-right: 0px;
        margin-top: 0px;
    }

    #contact-initials {
        width: 84px;
        height: 84px;
        border-radius: 100%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        border: 3px solid white;
        margin-top: -63px;
    }

    .contact-save-button {
        margin-right: 0px;
        width: 51px;
        height: 40px;
    }

    .arrow-container {
        width: 100%
    }

    .contact-left-arrow {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 30px;
        margin-top: 73px;
        padding-left: 20px;
        right: 5vw;
        z-index: 999;
    }


    .contact-details-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #contact-initials {
        margin-top: -63px;
    }

    .contacts-container {
        display: none;
        height: 100%;
        overflow-y: scroll;
    }

    .selected-contact {
        width: auto;
        flex-direction: column;
        margin-top: 120px;
        padding-bottom: 24px;
    }

    .contact-card-container {
        flex-direction: inherit;
        align-items: center;
        justify-content: flex-start;
    }

    .contact-card {
        animation: none;
    }

    .contacts-header {
        flex-direction: inherit;
        height: 20px;
        width: 400px;
    }

    .contacts-divider {
        width: 55px;
        transform: none;
        margin-top: 0px;
        margin-left: 0px;
    }

    .contacts-headline-small {
        line-height: 53.4px;
        display: flex;
        align-items: center;
    }

    .contact-list {
        width: calc(100% - 60px);
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 60px;
        overflow-y: scroll;
        box-shadow: none;
    }

    .contact-letter {
        width: 80%;
    }

    .contact-list-box {
        width: 85%;
    }

    .user-contact-button {
        display: none;
    }

    .mobile-user-contact-button {
        visibility: visible;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 30px;
        font-size: 18px;
        font-weight: 700;
        width: 160px;
        border-radius: 10px;
        padding: 12px;
        background-color: rgb(44, 54, 70);
        color: white;
        gap: 10px;
        border: none;
        cursor: pointer;
    }

    .mobile-contact-button-container {
        position: fixed;
        top: 70px;
        left: 0px;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: flex-end;
        z-index: 2;
        background-color: transparent;
        visibility: visible;
    }

    .contacts-section {
        margin-left: 0px;
        left: 0;
        bottom: 75px;
    }

    .show-contact-selection-overlay {
        z-index: 1;
        display: flex;
        justify-content: flex-start;
        position: fixed;
        top: 80px;
        right: 0;
        bottom: 0;
        left: 0;
        animation: detailsSlideIn 0.5s;
    }

    @keyframes detailsSlideIn {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(0);
        }
    }

    .popup-contact-added {
        bottom: 130px;
    }

    .contact-kanban {
        visibility: hidden;
    }

}


@media only screen and (max-width: 700px) {
    .contact-list-box {
        margin-left: 0px;
    }

    .contact-letter {
        margin-left: 8px;
    }

    .contact-kanban {
        visibility: visible;
        margin-top: 35px;
    }

    .contact-details-header {
        margin-top: 20px;
    }

    .contacts-header {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 565px) {
    .contacts-header {
        flex-direction: column;
    }

    .contacts-divider {
        width: 55px;
    }

    .popup-contact-created {
        font-size: 14px;
    }

}

@media only screen and (max-width: 400px) {
    .contact-list {
        width: calc(100% - 6vw);
        padding-left: 3vw;
        padding-right: 3vw;
    }


}

@media only screen and (max-width: 350px) {
    .contact-form-container input {
        width: 220px;
        height: 40px;
        line-height: 40px;
    }

    .contacts-header {
        margin-left: 30px;
    }

    .contact-card {
        margin-left: 10px;
    }

    .contact-member {
        font-size: 25px;
    }

    .contact-user-initiale {
        width: 70px;
        height: 70px;
        font-size: 30px;
    }

    .selected-contact {
        margin-left: 10px;
    }

    .contact-overlay-buttons {
        margin-top: 15px;
    }
}

@media only screen and (max-height: 700px) {

    .contact-overlay-buttons {
        margin: 0;
    }
}