* {
    box-sizing: border-box;
}

body {
    background-color: #F6F7F8;
}

.d-none {
    display: none;
}

.margin-top-20px {
    margin-top: 20px;
}

.width-180px {
    width: 180px !important;
}

.padding-left-right-40px {
    padding-left: 40px;
    padding-right: 40px;
}

.startscreen-mobile {
    display: none;
}

.website {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.join-pic {
    position: absolute;
    animation: JoinPicAni 800ms ease-in-out 0ms 1 normal forwards;
    z-index: 10;
    height: 120px;
    left: 0px;
    top: 0px;
}

.join-pic:hover {
    cursor: pointer;
}

@keyframes JoinPicAni {
    0% {
        transform: translate(50vw, 50vh);
    }

    100% {
        transform: translate(50px, 50px);
    }
}


#signUp {
    position: absolute;
    right: 50px;
    top: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.login-container {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 35px 50px 35px 50px;
}

.login-container span {
    font-weight: 700;
    font-size: 50px;
}

.blue-line {
    border: 1px solid #29ABE2;
    width: 130px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.5px solid #D1D1D1;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    width: 100%;
    max-width: 380px;
}

.input-container:hover {
    cursor: pointer;
}

.input-container:focus {
    border: 1px solid #29ABE2;
}

.input-container input {
    border: 0px;
    padding: 8px;
    margin: 2px;
    width: 100%;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
} */

.input-container input:hover {
    cursor: pointer;
}

.input-container input:focus {
    outline: none;

}

.input-container img {
    width: 14px;
}

.remember-forgot-container {
    display: flex;
    font-size: 14px;
    width: 400px;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 20px;
}

.remember-container {
    display: flex;
    gap: 20px;
}

.remember-box {
    width: 16px;
    height: 16px;
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remember-box:hover {
    cursor: pointer;
}

.remember-box img {
    width: 12px;
}

.forgot-pw {
    color: #29ABE2;
}

.forgot-pw:hover {
    cursor: pointer;
    text-decoration: underline;
}

.button-dark {
    background-color: rgb(44, 54, 70);
    font-size: 18px;
    color: rgb(246, 247, 248);
    width: 130px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
}

.button-dark:hover {
    background-color: #29ABE2;
    transform: scale(1.02);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.44);
    cursor: pointer;
}

.button-dark:active {
    background-color: #091931;

}

.button-light {
    background-color: rgb(246, 247, 248);
    font-size: 18px;
    color: rgb(44, 54, 70);
    width: 130px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    border: 1px solid rgb(44, 54, 70);
}

.button-light:hover {
    color: #29ABE2;
    border: 1px solid #29ABE2;
    transform: scale(0.98);
    box-shadow: 0px 4px 5px 0px #091931;
    cursor: pointer;
}

.button-light:active {
    color: #091931;
    border: 1px solid rgb(44, 54, 70);
}

.login-buttons {
    display: flex;
    gap: 25px;
}

.blue-arrow {
    position: absolute;
    top: 30px;
    left: 30px;
}

.blue-arrow:hover {
    cursor: pointer;
    filter: brightness(120%);
}

.blue-arrow:active {
    cursor: pointer;
    filter: brightness(40%);
}

.forgot-text {
    text-align: center;
    margin-bottom: 20px;
}

#emailSent {
    position: absolute;
    background-color: rgb(44, 54, 70);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 320px;
    height: 62px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    animation: emailSentAni 800ms ease 0ms 1 normal none;
}

#resetPassword {
    position: absolute;
    background-color: rgb(44, 54, 70);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 250px;
    height: 62px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    animation: emailSentAni 800ms ease 0ms 1 normal none;

}

#accountCreated {
    position: absolute;
    background-color: rgb(44, 54, 70);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 250px;
    height: 62px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    animation: emailSentAni 800ms ease 0ms 1 normal none;
}

@keyframes emailSentAni {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#wrongPassword,
#usernameTaken,
#emailTaken {
    color: red;
    font-size: 12px;
    width: 100%;
    max-width: 380px;
}

@media(max-width: 900px) {
    body {
        flex-direction: column;
    }

    .website {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .login-container {
        width: 90%;
        max-width: 600px;
        margin-top: 15%;
    }

    .startscreen-mobile {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(44, 54, 70);
        z-index: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .join-pic {
        left: 15%;
        top: 3%;
        height: 80px;
        width: 66px;
        animation: JoinPicAniMobile 800ms ease-in-out 0ms 1 normal forwards;
        display: none;
    }

    @keyframes JoinPicAniMobile {
        0% {
            transform: translate(35vw, 47vh);
        }

        100% {
            transform: translate(0, 0);
        }
    }

    #signUp {
        width: 100%;
        justify-content: center;
        top: auto;
        right: auto;
        position: relative;
    }

    .remember-forgot-container {
        flex-direction: column-reverse;
        gap: 20px;
        margin-top: 10px;
        width: 100%;
    }

    .login-buttons {
        flex-direction: column;
        gap: 10px;
    }

    #forgotPwContainer span {
        font-size: 30px;
    }

    #forgotPwContainer br {
        display: none;
    }

    #emailSent,
    #resetPassword {
        bottom: 7%;
        top: auto;
        right: 0;
        left: 0;
        animation: none;
    }



}

@media(max-width: 735px) {
    #forgotPwContainer span {
        text-align: center;
    }

    .forgot-text {
        font-size: 14px;
    }
}

@media(max-width: 450px) {
    .login-container span {
        font-size: 40px;
    }

    .blue-arrow {
        top: 20px;
        left: 20px;
    }

    #forgotPwContainer span {
        font-size: 25px;
    }
}

@media(max-width: 360px) {
    .login-container {
        width: 90%;
    }

    .login-container span {
        font-size: 32px;
    }

    .mob-width-100px {
        width: 100px;
    }
}

@media(max-height: 750px) {
    .join-pic {
        width: 50px;
        height: 60px;
    }
}

@media(max-height: 700px) {
    button {
        font-size: 14px !important;
        height: 40px !important;
    }

    .website {
        margin-top: 130px;
    }

    #signUp {
        padding-bottom: 50px;
    }
}