
<div class="contact-overlay-container">
    <div class="overlay-void" onclick="closeContactOverlay()"></div>
    <div class="contact-overlay-box" id="contactOverlayBoxAdd">
        <div class="contact-overlay-container-section">
            <div class="contact-overlay-section">
                <div class="close-form-mobile">
                    <img onclick="closeContactOverlay()" src="./assets/img/contact_close_mobile.png"
                        class="cursor-pointer" alt="close icon">
                </div>
                <div class="overlay-text-container">
                    <img class="contact-overlay-logo" src="./assets/img/join_small.png" alt="join logo">
                    <div class="contact-overlay-headline">Add contact</div>
                    <div class="contact-overlay-subheadline">Tasks are better with a team</div>
                    <div class="contact-overlay-divider"></div>
                </div>
            </div>
            <div class="contact-overlay-form-section">

                <div class="close-form">
                    <img onclick="closeContactOverlay()" src="./assets/img/contact_close_form.png"
                        class="cursor-pointer" alt="close icon">
                </div>

                <div class="contact-overlay-form-box">
                    <div class="contact-overlay-icon-box">
                        <img class="contact-overlay-icon" src="./assets/img/contact_user_white.png" alt="contact icon">
                    </div>


                    <form id="newContactForm" class="contact-form-container"
                        onsubmit="submitNewContactForm(); return false;">

                        <input id="newContactFirstName" required type="text" placeholder="First name"
                            style="color: rgb(0,0,0)" class="contact-overlay-name" maxlength="99"
                            oninput="validateInput('newContactFirstName')">

                        <div id="newContactFirstNameAlert" class="alert"></div>

                        <input id="newContactLastName" required type="text" placeholder="Last name"
                            style="color: rgb(0,0,0)" class="contact-overlay-name" maxlength="99"
                            oninput="validateInput('newContactLastName')">

                        <div id="newContactLastNameAlert" class="alert"></div>

                        <input id="newContactEmail" required type="email" placeholder="Email" style="color: rgb(0,0,0)"
                            class="contact-overlay-email" maxlength="99" oninput="validateInput('newContactEmail')">

                        <div id="newContactEmailAlert" class="alert"></div>

                        <input id="newContactPhone" type="tel" placeholder="Phone" style="color: rgb(0,0,0)"
                            class="contact-overlay-phone" maxlength="99" oninput="validateInput('newContactPhone')">

                        <div id="newContactPhoneAlert" class="alert"></div>

                    </form>
                </div>
                <div class="contact-overlay-buttons">

                    <button class="contact-cancel-button" onclick="closeContactOverlay()">
                        <div>Cancel</div>
                        <img class="cancel-icon" src="./assets/img/contact_form_cancel.png" alt="cancel icon">
                    </button>

                    <button type="submit" form="newContactForm" class="contact-create-button" id="create-contact">
                        <div>Create contact</div>
                        <img src="./assets/img/contact_form_check.png" alt="submit form icon">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>