<div class="header header-position">
    <a href="./summary.html">
        <img class="side-logo-dark display-none-desktop" src="./assets/img/Join_dark.png" alt="join logo">
    </a>
    <span class="display-none-responsiv">Kanban Project Managment Tool</span>

    <div class="user-info">
        <a class="display-none-responsiv" href="./help.html" target=”_blank”>
            <img class="help" src="./assets/img/help.png" alt="help logo">
        </a>
        <div class="user-initials" id="loggedInUserInitials"></div>
    </div>
</div>

<nav class="user-menu d-none" id="userMenu">
    <a class="display-none-desktop" href="./help.html">Help</a>
    <a class="display-none-desktop" href="./legal-notice.html">Legal notice</a>
    <a onclick="logOut()">Log out</a>
</nav>