<div class="side-container side-container-position">
    <a href="summary.html">
        <img class="side-logo display-none-responsiv-900" src="assets/img/join_small.png">
    </a>
    <div class="bottom-container">
        <div class="menu">
            <a id="summaryMenu" class="link" href="summary.html">
                <img class="link-img" src="assets/img/summary.png">
                <p class="menu-text">Summary</p>
            </a>
            <a id="boardMenu" class="link" href="board.html">
                <img class="link-img" src="assets/img/board.png">
                <p class="menu-text">Board</p>
            </a>
            <a id="addTaskMenu" class="link" href="add-task.html">
                <img class="link-img" src="assets/img/add_task.png">
                <p class="menu-text">Add Task</p>
            </a>
            <a id="contactsMenu" class="link" href="contacts.html">
                <img class="link-img" src="assets/img/Contacts.png">
                <p class="menu-text">Contacts</p>
            </a>
        </div>

        <div class="menu display-none-responsiv-900">
            <a id="legalNoticeMenu" class="link legal-notice" href="legal-notice.html">
                <img class="link-img" src="assets/img/info.png">
                <p>Legal notice</p>
            </a>
        </div>
    </div>
</div>